* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: hsl(233, 47%, 7%);
}
img {
    max-width: 100%;
}
.container {
    background-color: hsl(244, 38%, 16%);
   margin: 50px 20px;
   padding: 0 0 20px;
   border-radius: 10px;

}
.container .picture {
    height: 400px;
    background: url(./images/image-header-mobile.jpg)
    no-repeat center/cover;
    border-radius: 10px 10px 0 0;
}
.container .picture .overlay {
    background-color: hsla(277, 64%, 61%, 0.5);
    height: 400px;
}
h1 {
    color:  hsl(0, 0%, 100%);
    font-size: 21px;
}
#highlight {
    color:  hsl(277, 64%, 61%);
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}
ul {
    list-style-type: none;
}
@media (min-width: 768px) {
    .container .picture {
        background: url(./images/image-header-desktop.jpg)
        no-repeat center/cover;
    }
}